* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.cabecalho {
    display: flex;
    width: 100%;
    height: 40%;
    background-color: #0B1426;
   
    line-height: 30px;
}

.informacao-pessoal {
    margin: 30px;
    line-height: 30px;
    color: #ffff;
}

.coluna-esquerda{
display: inline-block;
width: 100%;
height: 90%;
column-count: 3;
column-gap: 6.9em;
margin: 1rem 1rem;
padding: 1.5rem;
border: 2px solid black;
}
.foto-pessoal {
    padding-left: 95px;
    padding-bottom: 65px;
    Width: 470px;
    height: 390px;
    border-radius: 50%;
}

