
:root {
        /*TEXTO*/
    --text-color-dark: #0D0D0D;
    --text-color-light: #F2F2F2;

    /*Principal*/
    --color-register: #062A40;
    --color-login: #dddddd;
    --icon-color: #F3F3F3;

    /*contorno*/
--color-contorno:#F2F2F2;
}